/* You can add global styles to this file, and also import other style files */
:root {
    --lightblue: lightblue;
  }

  body{
    direction: rtl;
  }

  .background-color {
    background-color: var(--lightblue) !important;
  }

  .text-color {
    color: var(--lightblue) !important;
  }